[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crisprseekplus"]
	path = crisprseekplus
	url = https://github.com/umms-biocore/crisprseekplus
[submodule "debrowser"]
	path = debrowser
	url = https://github.com/umms-biocore/debrowser
